.button {
  padding: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(99, 97, 95, 0.6);
  color: #ffffff;
  text-transform: capitalize;
}

.button:not(:last-child) {
  margin-right: 10px;
}

.button:hover {
  cursor: pointer;
}

.button:first-child {
  background-color: green;
}

.button:nth-child(2) {
  background-color: blue;
}

.button:last-child {
  background-color: red;
}

.button:active {
  background-color: rgb(207, 211, 6);
  color: #000000;
  transform: scale(1.2);
}
